.flex_vitrine {
    display: flex;
    height: 98vh;
    width: 99vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 139, 0);
}
.Titre_vitrine {
    font-family: "Magnolia Script Regular";
    color :rgb(99, 178, 192);
    font-size: 60px;
    text-shadow: 2px 2px 5px black; opacity: 0;
    animation-name: fade;
    animation-duration: 45s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}
#nom{
    position: relative;
    bottom:60px;
}
#button a{
    font-family: "Magnolia Script Regular";
    font-size: 40px;
    color: rgba(99, 178, 192, 0.3);
    border-radius: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 150px;
}

#button a:hover{
    color: rgba(99, 178, 192, 1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

#vitrine {
    background-image: url("../assets/img/image1.png");
    animation-name: back;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes back {
    0%  {background-image: url("../assets/img/image2.png");}
    33% {background-image: url("../assets/img/image1.png");}
    66% {background-image: url("../assets/img/image3.png");}
    
}
@keyframes fade {
    0% {opacity: 0}
    33% {opacity: 1}
    66% {opacity: 1}
    100% {opacity: 0}
}

/* From there : index2 customization*/

* {box-sizing: border-box}

html{
    scroll-behavior: smooth;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 1;

}

@keyframes fade{
    0% {opacity: 100%}
    50% {opacity: 0%}
    100% {opacity: 100%}
}
body::-webkit-scrollbar {
    display: none;
}

.flex_container{
    display: flex;
    background-color: rgba(95, 158, 160, 0);
    height: 0vh;
    width: 99vw;
    flex-direction: column;
    align-items: center;
}

.flex_container > #flex_cont1{
    background-color: rgb(255, 248, 220);
    margin: -8px;
    padding: 10px;
    font-size: 30px;
    border-radius: 150px 150px 150px 150px;
    width: 1500px;
    box-shadow: 0px 0px 20px 0px black;
    z-index: 3;
    position: fixed;
    top: 0px;
    align-self: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Magnolia Script Regular";
    transition: 0.5s;
}

#flex_cont1 > div{
    margin:0px;
    flex-grow: 1;
    text-align:center;
}

#flex_position {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.658);
    height: 200vh;
    width: 300vw;
    
}

#flex_cont_cv{
    display : flex;
    justify-self: flex-start;
    align-self: flex-start;
    flex-direction: column;
    width: 99vw;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(137, 43, 226, 0); 
    font-family: "Magnolia Script Regular";
    z-index: 2;
    left: -00px;
}

#flex_cont_cv > h1{
    text-shadow: 2px 2px 5px rgb(109, 109, 109);
}

#flex_cont_cv > h2{
    text-shadow : 2px 2px 5px rgb(109, 109, 109);
}

#flex_cont_cv > p{
    background-color: rgba(143, 188, 143, 0);
    text-align: center;
}

#flex_cont_graph{
    display: flex;
    background-color: rgba(220, 20, 60, 0);
    height: 1080px;
    width: 1920px;
    position: relative;
    left: -0px;
}

.flex_cont_slide{
    max-width: 1400px;
    position: relative;
    margin: auto;
    justify-content: center;
}

#titre_slide{
    text-align: center;
    font-family: "Magnolia Script Regular";
}

.slide{
    display: none;
}

img{
    vertical-align: middle;
}

#flex_cont_veille_tech{
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    width : 99vw;
    justify-content: center;
}