.flex_vitrine {
    display: flex;
    align-items: center;
    height: 98vh;
    width: 99vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 139, 0);
}
.Titre_vitrine {
    font-family: "Magnolia Script Regular";
    color :rgb(99, 178, 192);
    font-size: 60px;
    text-shadow: 2px 2px 5px black; opacity: 0;
    animation-name: fade;
    animation-duration: 45s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}
#nom{
    position: relative;
    bottom:60px;
}
#button a{
    font-family: "Magnolia Script Regular";
    font-size: 40px;
    color: rgba(99, 178, 192, 0.3);
    border-radius: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 150px;
}

#button a:hover{
    color: rgba(99, 178, 192, 1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

#vitrine {
    background-image: url("../assets/img/93135811_p0.png");
    animation-name: back;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes back {
    0%  {background-image: url("../assets/img/93135811_p0.png");}
    50% {background-image: url("../assets/img/Nymelia_angel.png");}

}
@keyframes fade {
    0% {opacity: 0}
    33% {opacity: 1}
    66% {opacity: 1}
    100% {opacity: 0}
}

.flex_container{
    display: flex;
    background-color: rgba(95, 158, 160, 0);
}

.flex_container > div{
    background-color: cornsilk;
    margin: 10px;
    padding: 30px;
    font-size: 30px;
}