*  {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: 0;
}

body {
    height: 100vh;
    font-family: "Magnolia Script";
    transition: .2s;
}

a:link {
    text-decoration: none;
    font-family: "Magnolia Script";
    font-size: 18px;
    color: #fff;
}

a:visited{
    text-decoration:none;
    color: #fff;
}

/* presentation specific page parameters */

.presentation {
    width: 80vw;
    position: relative;
    left: 10%;
    top: 30vh;
    border-left: 5px solid black;
    backdrop-filter: blur(20px);
    padding: 10px;
    font-size: 30px;
    transition: .4s;
}

b {
    font-size: 40px;
}

/* mon_cv specific page parameters */

.lien_cv:link {
    font-size: 40px;
    text-decoration: underline;
    color: #003470;
}

.lien_cv:visited {
    color: #003470;
}

.mon_cv {
    width: 80vw;
    position: relative;
    left: 10%;
    top: 5vh;
    border-left: 5px solid black;
    backdrop-filter: blur(20px);
    padding: 10px;
    font-size: 30px;
    transition: .4s;
}

.mon_cv h1{
    font-size: 50px;
}

.mon_cv h2{
    font-size: 40px;
}

.mon_cv h3{
    font-size: 30px;
}

/* graphisme specific page parameters */

.graphisme {
    width: 80vw;
    position: relative;
    left: 10%;
    top: 5vh;
    border-left: 5px solid black;
    backdrop-filter: blur(20px);
    padding: 10px;
    font-size: 30px;
    transition: .4s;
}

b {
    font-size: 40px;
}